@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<style>
    p {
        margin-left: 1rem;
    }
</style>

<div class="m-5">
    <h3>Desafio:</h3>
    <p>
        O maior desafio que já tive, foi a criação de uma API e um Worker, em que o objetivo era disponibilizar os IDs dos equipamento que estavam disponiveis em cada dia.<br>
        Criei uma lógica utilizando dados de Chamados e Lançamentos (Atualizações) afim de identificar os momentos em que os equipamentos ficaram indisponíveis<br>
        Também utilizei de dados como a intalação do equipamento ou a criação dele.<br>
        Uma exemplo de problematica que surgiu, é que os Lançamentos poderiam ser retroativos, então precisei criar uma solução para reprocessar os dados de disponibilidade dos equipamentos necessários.<br>
        Os dados de disponibilidade ficaram armazenados no Redis por data que seria a chave, e o valor é uma lista com os IDs<br>
    </p>

    <h4>Tecnologia usada:</h4>
    <p>ASP NET Core, Redis e SQL Server</p>

    <h4>Arquitetura:</h4>
    <p>Layers</p>

    <h4>Atuação:</h4>
    <p>Criação da API e da Lógica</p>

    <h4>Por que me marcou:</h4>
    <p>
        Pela solução que consegui achar, utilizando a análise de dados e novas soluções para os problemas que ia encontrando no meio do caminho.<br>
        Isso acabou me deixando animado, pois são problemas que gosto de resolver.
    </p>
</div>
