@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4 m-5">Kyllder Almeida da Rocha</h2>
    <table class="table w-50 m-auto">
        <tbody class="text-start">
            <tr>
                <td>Cargo:</td>
                <td class="text-end">Desenvolvedor Pleno</td>
            </tr>
            <tr>
                <td>Pretensão salarial:</td>
                <td class="text-end">R$ 5.000,00</td>
            </tr>
            <tr>
                <td>Data do Teste:</td>
                <td class="text-end">13/02/2023</td>
            </tr>
        </tbody>
    </table>
</div>
